<mat-card>
    <mat-card-title>Lista de carros</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let due of dues">
          <img mat-list-avatar src="{{due.giphyUrl}}" alt="{{due.name}}">
          <h3 mat-line>
            <a mat-button [routerLink]="['/due-edit', due.id]">{{due.name}}</a>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  
    <button mat-fab color="primary" [routerLink]="['/due-add']">Add</button>
  </mat-card>